* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  position: relative;
}

.container {
  background-color: rgb(255, 236, 214);
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.letter {
  background: url("./paper.jpg");
  background-size: cover;
  height: 5rem;
  width: 20rem;
  border: 1px solid black;
  cursor: grab;
}

.letter-text {
  font-size: 1.6rem;
  font-weight: 500;
}

@media (max-width: 500px) {
  .letter-text {
    font-size: 1rem;
  }
}
