ion-header {
  --border: none;
  ion-toolbar {
    --background: #ffd099;
    --color: #000;
  }
}

ion-content {
  ion-input {
    margin-bottom: 1rem;
  }

  ion-buttons {
    margin: 2vh 0;
    display: flex;
    justify-content: space-between;

    ion-button {
      --background: #ffd099;
      --color: #000;
    }
  }
}
